body{
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.Headding{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
}

.label_headding{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 30px;
}

.Navigation_div{
    display: flex;
    list-style-type: none;
    margin-right: 20px;
    align-items: center;
    background-color: #34495e;
    height: 35px;
    width: 400px;
    border-radius: 7px;
    text-align: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

nav .nav_animation{
    z-index: 0;
    position: absolute;
    background-color: #1abc9c;
    height: 100%;
    width: 70px;
    border-radius: 5px;
    margin-left: -10px;
    transition: all .5s ease 0s;
}

.Navigation_div a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
}

a:nth-child(1){
    width: 40px;
}

nav .start-Home, a:nth-child(1):hover~.nav_animation{
    width: 70px;
    left: 10px;
}

a:nth-child(2){
    width: 80px;
}
nav .start-Projects, a:nth-child(2):hover~.nav_animation{
    width: 90px;
    left: 95px;
}

a:nth-child(3){
    width: 70px;
}
nav .start-Gallery, a:nth-child(3):hover~.nav_animation{
    width: 80px;
    left: 220px;
}

a:nth-child(4){
    width: 80px;
}
nav .start-About me, a:nth-child(4):hover~.nav_animation{
    width: 100px;
    left: 330px;
}

.Updating_bar{
    display: flex;
    justify-content: center;
    margin-top: 190px;
}

.box1, .box2, .box3{
    height: 250px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.box2{
    margin-left: 50px;
    margin-right: 50px;
}

.UpdatingLabel{
    font-size: 25px;
    font-weight: bold;
}

.line{
    height: 3px;
    width: 150px;
    background-color: black;
}

.value{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 80px;
    margin-top: 60px;
    margin-bottom: 10px;
}

.count{
    font-size: 25px;
    font-weight: bold;
}

/*body part */

.body{
    height: 800px;
    width: 100%;
    background: linear-gradient(135deg, #ff7eb3, #ff65a3, #7f00ff);
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bodyPara{
    flex: 2;
    
}


.bodyImage{
    max-height: 700px;
    float: right;
    display: flex;
    flex: 1;
    align-items: center;
}


/*footer Start*/

.footer{
    height: 200px;
    width: 100%;
    background: linear-gradient(135deg, #1abc9c, #2c3e50);
    text-align: center;
    overflow: auto;
}

.footerpara{
    margin-top: 50px
}

.footerLink{
    text-decoration: none;

}
